<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
    <form id="tweet">
      <textarea name='content'></textarea>
      <input type="hidden" name="user_id" value="1" />
    </form>
    <button id="btn-tweet">enviar</button>
  </body>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/base.js"></script>
</html>